.all-quizzes {
  max-width: 100%;
  margin: auto;
  padding: 20px;
}

.all-quizzes h2 {
  font-size: 26px;
  margin-bottom: 12px;
}

.technologies-box ul {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  align-items: center;
}

.technologies-box ul li {
  padding: 8px 16px;
  background-color: #f2f2f2;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
  position: relative;
}

.technologies-box ul li:hover {
  background-color: #1504d138;
}

.technologies-box ul li.active {
  background-color: #0000c3;
  color: #fff;
}

.moreButton {
  position: relative;
  color: #000000;
  cursor: pointer;
  font-size: 19px;
  transition: transform 0.2s ease;
  font-weight: 600;
  z-index: 1;
  margin-top: -6px;
  :hover {
    color: rgb(255, 255, 255);
  }
}
.moreButton:hover::before {
  content: "";
  left: -56%;
  top: 7%;
  position: absolute;
  height: 100%;
  width: 200%;
  z-index: -1;
  border-radius: 50%;
  border: 1px solid black;
  color: #e0e0e0;
}

.all-quizzes h3 {
  font-size: 18px;
  margin-bottom: 16px;
}

.quiz-list {
  display: grid;
  gap: 14px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.quiz-card {
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  transition:
    box-shadow 0.3s ease,
    transform 0.2s ease;
}

.quiz-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  transform: translateY(-2px);
}

.quiz-title {
  font-weight: 600;
  font-size: 19px;
}
.total-qus,
.createdBy {
  margin-top: 8px;
}
.visit-button {
  height: 30px;
  width: 90px;
  background-color: #2a2af3;
  color: rgb(243, 238, 230);
  border: none;
  outline: none;
  border-radius: 10px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
}
